.Ctable{
    /* 테이블 간격 제거 */
    border-collapse: collapse;
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}
.Ctable td, .Ctable th {
    padding :15px;
    border-bottom: 1px solid #c2d3de;
}

.container{
    width: 100%;
    background-color: #c2d3de;
    padding: 30px;
}
.btn{
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: coral;
    /* 마우스 올릴 떄 스타일 */
    cursor: pointer; 
}
.btn2{
    color: white;
}
.btn:hover{
    background: chocolate;
}
.btn:active{
    background: black;
}
.input-test{
    font-size: 20px;
}
.input-test:focus{
    border: 5px solid red;
}
.customLink{
    /* 링크 밑줄 제거 */
    text-decoration: none;  
}