.left-content{
    width: 80%;
    height: 200px;
    /* background-color: antiquewhite; */
    float: left;
}
.right-box{
    width: 20%;
    height: 200px;
    /* background-color: aqua; */
    float: left;
}
.container{
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}
.navbar li{
    display: inline-block;
    font-size: 20px;
    text-align: center;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
}