<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>글쓰기</title>
</head>
<body>
<div class="header">
    <div class="user-info" id="user-info" style="display: none;">
        <span id="username">사용자 이름</span>
    </div>
    <button class="login-btn" id="login-btn" onclick="logout()">로그아웃</button>
</div>
    <table>
        <tr><td><h2>글쓰기</h2></td></tr>
        <tr><td class="header">Title</td></tr>
        <tr><td><input type="text" placeholder="제목을 입력하세요" name="title" id="title"></td></tr>
        <tr><td class="header">Comment</td></tr>
        <tr><td><textarea placeholder="내용을 입력하세요" name="detail" id="content"></textarea></td></tr>
        <tr><td><input type="submit" value="등록" onclick="createPost()"></td></tr>
    </table>
<script th:inline="javascript">
    $(document).ready(function () {
        loginChk();
    });

    function logout(){
        $.post('/logout');
        location.href = '/login'
    }

    function loginChk() {
        var login = false;
        $.ajax({
            url: '/login/check',
            method: 'GET',
            async: false, // 동기 요청으로 설정
            success: function(user) {
                login = !!user;
                const username = user.name; // 예제 사용자 이름

                if (login) {
                    $('#user-info').show()
                    $('#username').text(username + '님 안녕하세요');

                } else {
                    alert('로그인하세요')
                    location.href = '/login'; // 로그인 페이지로 이동합니다
                }
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);  // 오류가 발생하면 로그로 출력
                console.error('Status:', status);
                console.error('XHR:', xhr);
            }
        });
        return login;
    }
</script>
</body>
</html>